<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tags</key>
	<array>
		<string>时尚摄影</string>
		<string>儿童摄影</string>
		<string>肖像摄影</string>
		<string>黑白摄影</string>
		<string>影像日记</string>
		<string>旅行日记</string>
		<string>婚纱摄影</string>
		<string>复古</string>
		<string>奢华</string>
		<string>中国风</string>
		<string>超现实主义</string>
		<string>photoshop</string>
		<string>Illustrator</string>
		<string>照片合成</string>
		<string>手绘</string>
		<string>水彩</string>
		<string>卡通</string>
		<string>CG</string>
		<string>自然</string>
		<string>漫画</string>
		<string>平面设计</string>
		<string>海报设计</string>
		<string>创意名片</string>
		<string>包装设计</string>
		<string>数字艺术</string>
		<string>广告设计</string>
		<string>字体排版</string>
		<string>室内设计</string>
		<string>首饰设计</string>
		<string>logo设计</string>
		<string>小清新</string>
		<string>性感</string>
		<string>情绪</string>
		<string>夏天</string>
		<string>女生</string>
		<string>美食</string>
		<string>可爱</string>
		<string>宠物</string>
		<string>环保</string>
		<string>lomo</string>
		<string>手工</string>
		<string>光</string>
		<string>圣诞素材</string>
		<string>新年素材</string>
		<string>字体下载</string>
		<string>网页模板</string>
		<string>ICON</string>
		<string>图片素材</string>
		<string>HTML</string>
	</array>
</dict>
</plist>
